/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Custom Site Styles */

/*
  Use the text-size-adjust property
  to prevent automatically inflating
  text on orientation changes
  (portrait to landscape on a phone,
  for example):
*/

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ie-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* HTML5 Elements as Blocks; Cribbed from HTML5 Boilerplate */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* ========== Base Styles ========== */

/*
  Using 19px/1.333 modular scale
  http://www.modularscale.com/?19&px&1.333&web&text
*/

html {
  font-family: "Depot New W00", Helvetica, Arial, sans-serif;
  padding: 0.75em; /* 12px @ 16px/em */
  padding-top: 0;
  background-color: #594e51;
  color: #dedede;
}
body {
  font-size: 1.1875em;         /* ~ 19px base font size */
  line-height: 1.2631578947em; /* ~ 24px base line height */
}
b,
strong {
  font-weight: bold;
}
cite,
em,
i {
  font-style: italic;
}
ins {
  text-decoration: none;
}
/* Links */
a {
  text-decoration: none;
  color: #a7c3c9;
  border-bottom: 0.05263157895em dotted;
}
.preview a {
  color: #BA370B;
}
p {
  padding-bottom: 1.2631578947em;
}
li {
  padding-bottom: 0.6315789474em; /* ~ 12px @ 19px/em */
}
ol,
ul {
  padding-bottom: 1.2631578947em;
  margin-left: 1.2631578947em;
}
ul > li {
  list-style-type: square;
}
ol > li {
  list-style-type: decimal;
}
li ul,
li ol {
  padding-top: 0.6315789474em;
}
/* Avoid over-padding nested lists */
li ol,
li ul,
li:last-child {
  padding-bottom: 0;
}
h1 {
  font-size: 1.7768947368em; /* ~ 33.761px @ 19px/em */
  line-height: 1.0663191256em; /* ~ 36px @ 33.761px/em */
  padding-bottom: 0.3554397085em; /* ~ 12px @ 33.761px/em */
}
h2 {
  font-size: 1.3440526316em; /* ~ 25.537px @ 19px/em */
  line-height: 0.9398128206em; /* ~ 24px @ 25.537px/em */
  padding-bottom: 0.9398128206em;
}
h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #dedede;
  background-color: #142736;
  padding: 0.5em 0 0.5em 0.3em;
  margin-bottom: 0.2em;
}
h4 {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 1.2631578947em;
}
h4 {
  text-transform: none;
  padding-bottom: 0.6315789474em;
}
h5 {
  color: #dedede;
  background-color: #142736;
  padding: 0.5em 0 0.5em 0.3em;
  margin-bottom: 0.2em;
  width: 70%;
}

.boxheader {
  background-color: #A7C3C9;
  color: #333;
  cursor: pointer;
  padding: 0.6315789474em;
  width: 100%;
  text-align: center;
  border: 1px solid #594e51;
  font-weight: bold;
  font-size: 1em;
}

.homework{
  background-color: #A7C3C9;
  color: #333;
  cursor: pointer;
  padding: 0.6315789474em;
  margin: 5px 0px;
  width: 100%;
  text-align: center;
  border: 1px solid #594e51;
  font-weight: bold;
  font-size: 1em;
}

.height-fix{
  height: auto !important;
  padding-left: 15px;
  padding-top: 10px;
}

/* ========== Layout ========== */

html {
  /* Border for the nav to sit on */
  border-top: 2.6875em solid #142736; /* ~ 43px @ 16px/em | 43 = 12 + 19 + 12 from nav */
}
nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
#links,
#instructor {
  margin-top: 2.4em;
}
#links {
	padding-top: 2.4em;
}

/* ========== Modules ========== */

/* Header & Footer */
header {
  padding-top: 2.5263157895em; /* ~ 48px @ 19px/em */
  padding-bottom: 1.2631578947em;
}
footer {
  padding-top: 3.7894736842em; /* ~ 72px @ 19px/em */
}
small,
.tagline,
.fineprint,
.button {
  font-weight: 200;
  color: #998f8b;
  display: block;
}
.preview small {
  color: #594E51;
}
.label .button {
  font-size: 0.744018483em; /* ~ 19px @ 25.537px/em */
  text-transform: uppercase;
}
/* Navigation */
nav {
  font-weight: 200;
}
.nav {
  margin-left: 0;
  padding-bottom: 0;
}
.nav li {
  float: left;
  width: 20%;
  list-style-type: none;
  padding-bottom: 0;
}
.nav a {
  display: block;
  text-align: center;
  line-height: 1;
  padding: 0.6315789474em 0.3157894737em; /* ~ 12px 6px @ 19px/em */
  background-color: #142736;
  color: #dedede;
  border-bottom: 0;
}

#calendar #nav-cal a,
#due_date #nav-due a, 
#projects #nav-pro a,
#policies #nav-pol a,
#link #nav-lnk a {
  color: #142736;
  background-color: #A7C3C9;
}

/* Calendar */
.calendar-weeks {
  margin-left: 0;
  padding-bottom: 0;
}
.week {
  margin-left: 0;
}
.week,
.meeting,
.assigned > ul > li {
  list-style-type: none;
}
.meeting {
  padding-left: 1.2631578947em;
  padding-bottom: 1.2631578947em;
}
.meeting ol {
  padding-top: 0;
}
.week h4 {
  padding-right: 0.6315789474em;
}
.agenda .meeting {
  padding-left: 0;
}

.assigned ol {
  padding-bottom: 0.6315789474em;
}
.agenda > ol:first-child {
  padding-top: 0;
  padding-bottom: 1.2631578947em;
}

.assigned {
  background-color: #746b6e;
  margin-top: 0.6315789474em;
  margin-bottom: 1.8947368421em; /* ~ 36px @ 19px/em */
  padding-top: 0.6315789474em;
  padding-right: 1.2631578947em;
}
.preview .assigned {
  background-color: #ced6d8;
}
.assigned h3 {
  padding-left: 1.2631578947em;
  padding-bottom: 0.6315789474em;
}
.assigned h4 {
  padding-bottom: 0;
}

.preview {
  background-color: #A7C3C9;
  color: #142736;
  padding-top: 1.2631578947em;
  margin-right: -0.6315789474em;
  padding-right: 0.6315789474em;
  margin-left: -0.6315789474em;
  padding-left: 0.6315789474em;
  margin-bottom: 1.2631578947em;
}
#calendar .preview {
  margin-bottom: 0;
}
#calendar .is-next {
  margin-bottom: 1.2631578947em;
}

#links {
	background-color: #A7C3C9;
  color: #142736;
}

#links a {
	color: #BA370B;
}

/* Table */
table {
	table-layout: fixed;
	width: 100%;
  margin-bottom: 1em;
}
table, th, td {
	border: 1px solid #ddd;
	padding: 0px 10px;
}
.tablehead {
	background-color: #142736;
	text-align: center;
  font-weight: 700;
}
#protable {
  margin-bottom: 0;
}
tr .firstrow {
	border-right: none;
	width: 80px;
  padding-bottom: 15px;
  padding-top: 15px;
}
tr .secondrow {
	border-right: none;
	width: 80px;
  padding-bottom: 15px;
  padding-top: 15px;
}
td a {
	font-weight: 700;
	text-align: center;
}
td {
	text-align: center;
}
.nobullet {
  list-style: none;
}
.alignleft {
	text-align: left;
  padding-top: 5px;
}
.short {
  width: 120px;
}
.redfont {
	color: white;
  background-color: red;
}
#tablep {
	width: 80%
}

.topic {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}


/* Policies */ 

#location > p {
  padding-bottom: 0.5em;
  text-align: center;
}

#grading > p {
  padding-bottom: 0.5em;
}

#project-one, #project-three{
  color: #dedede;
}

/* Button*/
.accordion {
  background-color: #A7C3C9;
  color: #333;
  cursor: pointer;
  padding: 0.6315789474em;
  width: 100%;
  text-align: center;
  border: 1px solid #594e51;
  font-weight: bold;
  font-size: 1em;
  transition: 0.2s;
}
.accordion h3{
  font-size: 1.3em; /* ~ 19px @ 25.537px/em */
}

.active, .accordion:hover {
  background-color: #9D6D72;
}



/* ========== State ========== */

.hasjs .extended {
  display: none;
}
.is-visible .extended {
  display: block;
}

/* Media Queries */

/* @345px */

@media screen and (min-width: 21.5625em) {
  /* Let the nav breathe a bit more */
  nav {
    font-weight: normal;
  }
  .nav a {
    padding: 0.6315789474em;
  }
}

/* @650px */

@media screen and (min-width: 40.625em) {
  html {
    padding: 0;
  }
  header,
  footer,
  .primary,
  #instructor,
  #links {
    padding-right: 5%;
    padding-left: 5%;
  }
  .tagline,
  .fineprint {
    width: 50%;
  }
  nav {
    width: 85%;
    left: 10%;
  }
  .preview {
    margin-right: -5.882352941%;
    padding-right: 5.882352941%;
    margin-left: -11.76470588%;
    padding-left: 11.76470588%;
  }
  li.meeting {
    float: left;
    width: 45%;
    padding-right: 5%;
    padding-bottom: 1.2631578947em;
  }
  .assigned {
    clear: both;
  }
  .link-group {
    position: absolute;
    left: 10%;
    width: 42.5%;
  }
  #essential-references {
    width: 42.5%;
    padding-left: 60%;
    z-index: 100;
  }
}

/* @685px */

@media screen and (min-width: 42.8125em) {
  header,
  footer,
  .primary,
  #instructor,
  #links {
    padding-right: 10%;
    padding-left: 10%;
  }
  .tagline,
  .fineprint {
    width: 75%;
  }
  nav {
    width: 70%;
    left: 20%;
  }
  .preview {
    margin-right: -14.28571429%;
    padding-right: 14.28571429%;
    margin-left: -28.57142857%;
    padding-left: 28.57142857%;
  }
  .link-group {
    left: 20%;
    width: 35%;
  }
  #essential-references {
    width: 35%;
  }
}

/* @930px */

@media screen and (min-width: 58.125em) {
  header,
  footer,
  .primary,
  #instructor,
  #links {
    padding-right: 20%;
    padding-left: 20%;
  }
  nav {
    width: 60%;
    left: 30%;
  }
  .preview {
    margin-right: -16.66666667%;
    padding-right: 16.66666667%;
    margin-left: -50%;
    padding-left: 50%;
  }
  .link-group {
    left: 30%;
    width: 30%;
  }
  #essential-references {
    width: 35%;
  }
}
