		#wrapper {
			width: 850px;
			height: 600px;
			background-color: #c00;
			margin:0 auto;
			overflow: hidden;
		}
		#canvas {
			width: 700px;
			height: 500px;
			background-color: #ccc;
			margin: 30px auto;
		}