#box1 {
	background-color: #888888;
	padding: 30px;
	border:10px dashed red;
	font-size: 30px;

}

#box2 {
	box-sizing: content-box; /* This is already default */
	background-color: #888888;
	width: 340px;
	padding: 20px;
	border: 10px solid red;
  height: 200px;
	margin: 30px;
}

#box3 {
	box-sizing: border-box;
	background-color: #888888;
	width: 400px;
	padding: 20px;
	border: 10px solid red;
	margin: 30px;
  height: 260px;

}